.footer {
	padding: 1.2rem;
	margin-top: 1.2rem;
	border-radius: 0px;
	background: #e0e0e0;
	box-shadow: inset 7px 7px 9px #b8b8b8, inset -7px -7px 9px #ffffff;
	overflow: hidden;
}

/* copyright*/
.footer p {
	text-align: center;
	text-transform: uppercase;
	color: #666;
	margin-top: 1.5rem;
	font-size: 1rem;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 3rem;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
}

.share {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.right ul {
	display: flex;
	align-items: baseline;
	gap: 1rem;
}

.right ul li a {
	color: #000;
	font-size: 0.8rem;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.right ul li a:hover {
	color: red;
	font-size: 0.8rem;
	text-transform: uppercase;
}
